
@{ ViewData["Title"] = "AdminView"; }
<style>
    .bs-example {
        margin: 20px;
    }
</style>

@model Tuple<List<VetBooking.Areas.Identity.Data.Meeting>, List<VetBooking.Areas.Identity.Data.OldMeeting>>

<div class="bs-example">
    <ul id="myTab" class="nav nav-tabs row">
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-toggle="tab">Aktualne wizyty</a>
        </li>
        <li class="nav-item">
            <a href="#profile" class="nav-link" data-toggle="tab">Zrealizowane wizyty</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <h4 class="mt-2">Aktualne wizyty</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data</th>
                        <th>Możliwe akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Odwołaj", "Delete", @item)
                            @Html.ActionLink("Zrealizuj", "MoveToHistory", @item)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="profile">
            <h4 class="mt-2">Zrealizowane wizyty</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data</th>
                        <th>Możliwe akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Usuń na zawsze", "DeleteFromHistory", @item)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
