
@{ ViewData["Title"] = "AdminView"; }
<style>
    .bs-example {
        margin: 20px;
    }
</style>

@model ICollection<VetBooking.Areas.Identity.Data.Meeting>

<div class="bs-example">
    <ul id="myTab" class="nav nav-tabs row">
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-toggle="tab">Aktualne wizyty</a>
        </li>
        <li class="nav-item">
            <a href="#profile" class="nav-link" data-toggle="tab">Zrealizowane wizyty</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <h4 class="mt-2">Aktualne wizyty</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data</th>
                        <th>Możliwe akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item" style="color: blue; text-decoration: underline; cursor: pointer; ">Odwołaj</a>
                            <a data-toggle="modal" data-target="#exampleModal" class="ml-2" style="color: blue; text-decoration: underline; cursor: pointer; ">Detale</a>
                            <a asp-action="MoveToHistory" asp-route-id="@item" class="ml-2" style="color: blue; text-decoration: underline; cursor: pointer; ">Zrealizuj</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Przykładowa wizyta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                Nazwa
                            </dt>

                            <dd>
                                przykład nazwy
                            </dd>

                            <dt>
                                Data
                            </dt>

                            <dd>
                                przykład daty
                            </dd>

                            <dt>
                                Imię i nazwisko
                            </dt>

                            <dd>
                                przykładowe imię i nazwisko
                            </dd>

                            <dt>
                                Numer telefonu
                            </dt>

                            <dd>
                                przykładowy numer telefonu
                            </dd>

                            <dt>
                                Opis
                            </dt>

                            <dd>
                                przykładowy opis
                            </dd>

                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="profile">
            <h4 class="mt-2">Zrealizowane wizyty</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data</th>
                        <th>Możliwe akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#exampleModal" class="ml-2" style="color: blue; text-decoration: underline; cursor: pointer; ">Detale</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
