@{ ViewData["Title"] = "Users"; }

@model ICollection<VetBooking.Areas.Identity.Data.VetBookingUser>

<h1>Użytkownicy</h1>
<br />
<form>
    @using (Html.BeginForm("Users", "Home", FormMethod.Get))
    {
        @Html.Raw("Imie:") <input type="text" name="FirstName" id="FirstName" />
        @Html.Raw("Nazwisko:")<input type="text" name="LastName" id="LastName" />
        @Html.Raw("Email:")<input type="text" name="Email" id="Email" />
        <input type="submit" value="Wyszukaj" />
    }
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Numer Telefonu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            </tr>
        }
    </tbody>
</table>